<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}
	Рейтинг ФИЭиГХ
{% endblock %}

{% block content %}
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				<div class="alert alert-warning" role="alert">
				{% for message in messages %}
					{{ message }}<br>
				{% endfor %}
				</div>
			{% endif %}
		{% endwith %}
	<div class="feature_main">
		<h1>
			Рейтинг успеваемости обучающихся ФИЭиГХ
		</h1>
	</div>
	<div class="student_result">
		<table id="grid-data-api" class="table table-condensed table-hover table-striped" data-toggle="bootgrid" data-ajax="true" data-url="/api/data/basic">
			<thead>
				<tr>
					<th data-column-id="id" data-type="numeric">ID</th>
					<th data-column-id="sender">Sender</th>
					<th data-column-id="received" data-order="desc">Received</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>10238</td>
					<td>eduardo@pingpong.com</td>
					<td>14.10.2013</td>
				</tr>
				...
			</tbody>
		</table>
	</div>
{% endblock %}